@tailwind base;
@tailwind components;
@tailwind utilities;

/* start custom scrollbar */
::-webkit-scrollbar {
    display: block;
    width: 0.2rem;
}
::-webkit-scrollbar-track {
    background: transparent;
}
    
::-webkit-scrollbar-thumb {
    background-color: white;
    border-right: none;
    border-left: none;
}

::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 10px; 
}

::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 10px;
}
/* end of custom scrollbar css*/
